# output
OUTPUT_DIR=benchmarks

# synthesis
SYNTHESIS_MODE=EXHAUSTIVE
SYNTHESIS_DEPTH=4
SYNTHESIS_WEIGHT=8
SYNTHESIS_WEIGHT_RELAXATION=1
SYNTHESIS_LIMIT_STRUCTURES_NUM=200

# supergates
SUPERGATE_LIBRARY=supergates/eval_201021.json
SUPERGATE_EXPORT=false
SUPERGATE_FEASIBILITIES=2,3
SUPERGATE_DEPTH=4
SUPERGATE_WEIGHT=5
